section.artists
    div.artists-title
        h1.main-title.artists__title outstanding artists
    div.artists-content
        div.artist-card
            div.artist-card__portrait
                h3.main-title-medium.artist-card__portrait-name.color-white Yuri Andropov
                div.artist-card__portrait-img(style='background-image: url(/./img/man-wearing-dress-shirt-holding-dandelion-1250426.jpg)')
            div.artist-card__text-work
                p.subtitle Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sapiente totam consectetur dicta.
                a.btn-medium.btn-action.artist-card-btn(href='#') works
        div.artist-card
            div.artist-card__portrait
                h3.main-title-medium.artist-card__portrait-name.color-white Yuri Andropov
                div.artist-card__portrait-img(style='background-image: url(/./img/woman-wearing-sunglasses-3868968.jpg)')
            div.artist-card__text-work
                p.subtitle Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sapiente totam consectetur dicta.
                a.btn-medium.btn-action.artist-card-btn(href='#') works  