footer
    h5.main-title-small concept & luminosity
    ul.footer-list.list
        li 
            a.list-item(href='/home') Home
        li
            a.list-item(href='/home/gallery') Gallery
        li 
            a.list-item(href='/home/gallery') About
        li 
            a.list-item(href='/home/gallery') Artists
    p Copyright &copy; 2020 Matías Nicoletti
