footer
    h5.main-title-small concept & luminosity
        ul.navbar__list.footer-list
            li Home
            li Gallery
            li About
            li Artists
    p Copyright &copy; 2020 Matías Nicoletti
