section.home
    div.home__left-content
        img.img.__img.image-dark-mode#img-bg-home(src='/./img/woman-wearing-white-dress-bending-down-2250276.jpg')
    div.home__right-content
        div.header-title#header-title
            h1.main-title concept
            h1.main-title & luminosity
        h3.subtitle.home__subtitle Contemporary Art Seller
        h3.subtitle.home__phrase Art, like morality, consists of drawing the line somewhere
        div.home__arrow
          img(src='/./img/svg/arrow.svg')#home_arrow

