nav.navbar
    div.navbar__theme-icon#switch-theme-btn
        img(src='/./img/svg/iconfinder_sun_226556.svg')
    ul.navbar__list
        li 
            a(href='/home') Home
        li
            a(href='/home/gallery') Gallery
        li About
        li Artists

