nav.navbar#navbar
    div.navbar__theme-icon#switch-theme-btn
        img(src='/./img/svg/sun.svg')
    ul.navbar__list.list
        li 
            a.list-item(href='/home') Home
        li
            a.list-item(href='/home/gallery') Gallery
        li 
            a.list-item(href='/home/gallery') About
        li 
            a.list-item(href='/home/gallery') Artists
