doctype html
html
    include _head

    body.light-theme.app-container#app-container
        include _nav

        include _home
        
        include _about

        include _artists

        include _footer

        script(src="/./js/index.js")