include _head
include _nav
section.product-grid
    div.product-grid-container
        div.product(style='background-image: url(/./img/product-1.jpg)')
            a.grid-buy-btn(href='#') $8750
            div.product-info
                h4.product-name.title-medium A super artist piece
                h5.product-artist.title-medium A super artists

        div.product(style='background-image: url(/./img/product-1.jpg)')
            a.grid-buy-btn(href='#') $8750
            div.product-info
                h4.product-name.title-medium A super artist piece
                h5.product-artist.title-medium A super artists

        div.product(style='background-image: url(/./img/product-1.jpg)')
            a.grid-buy-btn(href='#') $8750
            div.product-info
                h4.product-name.title-medium A super artist piece
                h5.product-artist.title-medium A super artists     

        div.product(style='background-image: url(/./img/product-1.jpg)')
            a.grid-buy-btn(href='#') $8750
            div.product-info
                h4.product-name.title-medium A super artist piece
                h5.product-artist.title-medium A super artists

        div.product(style='background-image: url(/./img/product-1.jpg)')
            a.grid-buy-btn(href='#') $8750
            div.product-info
                h4.product-name.title-medium A super artist piece
                h5.product-artist.title-medium A super artists

        div.product(style='background-image: url(/./img/product-1.jpg)')
            a.grid-buy-btn(href='#') $8750
            div.product-info
                h4.product-name.title-medium A super artist piece
                h5.product-artist.title-medium A super artists
include _footer