.about {
  position: relative;
  height: 100vh;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  
  &__left-content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-top: 2rem;
  }
  &__right-content {
    width: 100%;
    height: 100%;
    background-image: url("./../../img/white-ceramic-sculpture-with-black-face-mask-3952240.jpg");
    background-position: center; 
    background-repeat: no-repeat;
    background-size: cover;
    filter: saturate(0);  
  }

  &__title{
      font-size: 6.5vh;
  }

  &__paragraph{
      width: 75%;
    margin-top: 15%;
  }

  &__action{
    position: relative;
    margin-top: 15%;
  }

  &__subtitle{
        &:first-of-type{
            margin: 1%;
        }

      &:last-of-type{
          margin-top: 15%;
      }
  }
}
