.product-grid {
  width: 100%;
  min-height: 100vh;

  &-container {
    width: 90%;
    height: 100%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(25vw, 1fr));
    grid-column-gap: 5rem;
    grid-row-gap: 5rem;
  }
}

.product {
  display: flex;
  flex-direction: column;
  height: 90vh;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  align-items: center;
  justify-content: flex-end;
  text-align: center;
  -webkit-box-shadow: 0px 0px 18px 0px rgba(50, 50, 50, 0.59);
  -moz-box-shadow: 0px 0px 18px 0px rgba(50, 50, 50, 0.59);
  box-shadow: 0px 0px 18px 0px rgba(50, 50, 50, 0.59);
  transition: all .05s ease-in;
  cursor: pointer;
  &-info {
    position: relative;
    width: 100%;
    height: 18%;
    vertical-align: middle;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 5;

    & * {
      margin: 0.5rem 0;
    }

    &::before {
      position: absolute;
      content: "";
      width: 100%;
      height: 100%;
      background-color: rgba(255, 255, 255, 0.705);
      z-index: -1;
    }
  }

  & a {
    position: relative;
    top: 3%;
    z-index: 10;
    width: 6vw;
    height: 8%;
    font-size: 1.8vw;
    line-height: -20%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &-name {
    font-size: 2.1vw;
  }

  &-artist {
    font-size: 1.8vw;
  }

  &:hover{
    transform: scale(1.02);
    
    
  }
}
