*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.app-container {
  -webkit-transition: all .2s ease-in;
  transition: all .2s ease-in;
}

:root {
  --text-black-color: #131313;
  --text-white-color: #eeeeee;
  --text-default-color-inuse: var(--text-black-color);
  --nav-color-grey: #4E4E4E;
  --nav-color-white: #E6E6E6;
  --nav-links-color-inuse: var(--text-white-color);
}

@font-face {
  font-family: common-text-font;
  src: url("../../fonts/HTOWERT.TTF");
}

@font-face {
  font-family: title-font;
  src: url("../../fonts/PERTILI.TTF");
}

.main-title, .main-title-small, .main-title-medium {
  font-family: title-font;
  font-size: 8vh;
  font-weight: lighter;
  letter-spacing: 0.8rem;
}

.main-title-small {
  font-size: 4vh;
}

.main-title-medium {
  font-size: 6vh;
}

.title-medium {
  font-family: common-text-font;
  font-weight: lighter;
}

.subtitle {
  font-style: italic;
  font-size: 1.7rem;
  color: #131313;
  letter-spacing: 0.2rem;
}

.common-paragraph {
  font-size: 1.7rem;
}

.color-white {
  color: #FFFFFF;
}

.navbar {
  background-color: #4E4E4E;
  position: fixed;
  width: 100vh;
  height: 4rem;
  bottom: 0;
  right: 4rem;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  -webkit-transform-origin: 100% 100%;
          transform-origin: 100% 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 10;
}

.navbar__theme-icon {
  position: relative;
  height: 130%;
  width: 5%;
  background-color: var(--nav-color-grey);
}

.navbar__theme-icon img {
  height: 40%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.navbar__list {
  position: relative;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar__list li a {
  font-size: 2rem;
  color: var(--nav-links-color-inuse);
  font-family: common-text-font;
  text-decoration: none;
}

.home {
  position: relative;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  height: 100vh;
}

.home__left-content {
  position: relative;
  height: 150vh;
  top: -50vh;
  right: 3%;
}

.home__left-content img {
  position: absolute;
  height: 100%;
}

.home__right-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.home__subtitle {
  position: relative;
  top: 10%;
  right: 28%;
  -ms-flex-item-align: end;
      align-self: flex-end;
  color: var(--text-default-color-inuse);
}

.home__phrase {
  position: relative;
  top: 32%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  color: var(--text-default-color-inuse);
}

.home__arrow {
  position: relative;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  top: 32%;
}

.header-title {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 120%;
  top: 10%;
  right: 20%;
}

.header-title :last-child {
  margin-top: 8%;
  margin-left: 20%;
}

.header-title h1 {
  color: var(--text-default-color-inuse);
}

.about {
  position: relative;
  height: 100vh;
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

.about__left-content {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding-top: 2rem;
}

.about__right-content {
  width: 100%;
  height: 100%;
  background-image: url("./../../img/white-ceramic-sculpture-with-black-face-mask-3952240.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-filter: saturate(0);
          filter: saturate(0);
}

.about__title {
  font-size: 6.5vh;
}

.about__paragraph {
  width: 75%;
  margin-top: 15%;
}

.about__action {
  position: relative;
  margin-top: 15%;
}

.about__subtitle {
  color: var(--text-default-color-inuse);
}

.about__subtitle:first-of-type {
  margin: 1%;
}

.about__subtitle:last-of-type {
  margin-top: 15%;
}

.artists {
  position: relative;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #cecece;
}

.artists-content {
  width: 95%;
  height: 155vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  text-align: center;
  grid-column-gap: 4rem;
  margin-right: 2%;
}

.artist-card {
  position: relative;
  width: 100%;
  height: 100%;
}

.artist-card__portrait {
  width: 100%;
  height: 80%;
}

.artist-card__portrait-img {
  position: relative;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-filter: saturate(0);
          filter: saturate(0);
  z-index: 1;
}

.artist-card__portrait-name {
  position: relative;
  z-index: 5;
  top: 10%;
}

.artist-card__portrait:last-of-type {
  color: #FFFFFF;
}

.artist-card__text-work {
  position: relative;
  width: 100%;
  margin-top: 10%;
}

.artist-card__text-work a {
  position: relative;
  top: 5vh;
}

footer {
  position: relative;
  width: 100%;
  height: 25vh;
  text-align: center;
  border-top: 2px solid #131313;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  top: 100%;
}

.footer-list {
  height: 4vh;
}

.footer-list li {
  font-size: 2rem;
  color: #131313;
}

.product-grid {
  width: 100%;
  min-height: 100vh;
  background-color: var(--text-white-color);
}

.product-grid-container {
  width: 90%;
  height: 100%;
  margin: auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(25vw, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(25vw, 1fr));
  grid-column-gap: 5rem;
  grid-row-gap: 5rem;
}

.product {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 90vh;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  text-align: center;
  -webkit-box-shadow: 0px 0px 18px 0px rgba(50, 50, 50, 0.59);
  box-shadow: 0px 0px 18px 0px rgba(50, 50, 50, 0.59);
  -webkit-transition: all 0.05s ease-in;
  transition: all 0.05s ease-in;
  cursor: pointer;
}

.product:hover-info {
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
  -webkit-filter: brightness(70%);
          filter: brightness(70%);
}

.product:hover-info .grid-view-btn {
  opacity: 1;
}

.product-info {
  position: relative;
  width: 100%;
  height: 18%;
  vertical-align: middle;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 5;
}

.product-info * {
  margin: 0.5rem 0;
}

.product-info::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.705);
  z-index: -1;
}

.product-price {
  position: relative;
  top: 3%;
  z-index: 10;
  width: 6vw;
  height: 8%;
  font-size: 1.8vw;
  line-height: -20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.product-name {
  font-size: 2.1vw;
}

.product-artist {
  font-size: 1.8vw;
}

.grid-view-btn {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 10;
  cursor: pointer;
}

.btn, .btn-medium, .btn-large, .grid-buy-btn {
  color: var(--text-default-color-inuse);
  text-decoration: none;
  border: 2px solid;
  border-color: var(--text-default-color-inuse);
  text-transform: uppercase;
  background-color: transparent;
}

.btn-medium {
  font-size: 1.5rem;
  padding: 1.8rem 9rem;
}

.btn-large {
  font-size: 2rem;
  padding: 1.8rem 9rem;
}

.btn-action {
  font-style: italic;
}

.grid-buy-btn {
  background-color: var(--text-default-color-inuse);
  color: var(--nav-links-color-inuse);
}

.product-container {
  width: 98%;
  height: 100vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 40% 60%;
      grid-template-columns: 40% 60%;
  padding: 2rem;
  background-color: var(--text-white-color);
}

.left-image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.15);
}

.product-right-content {
  width: 100%;
  height: 100%;
  margin-left: 2rem;
}

.product-right-content-name {
  font-size: 4rem;
  font-weight: bold;
  margin-bottom: 1.5rem;
}

.product-right-content-artist {
  font-size: 2.5rem;
  margin-bottom: 2.5rem;
}

.product-right-content-description {
  margin-bottom: 3.5rem;
}

.product-right-content-measures {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 15%;
  border-top: 1px solid #000000a4;
  border-bottom: 1px solid #000000a4;
  margin-bottom: 4.5rem;
}

.product-right-content-measures-measure {
  margin-right: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.product-right-content-measures-measure img {
  height: 3.5rem;
}

.product-right-content-measures-measure span {
  font-size: 2rem;
  margin-left: 1rem;
}

.product-right-content-measures-measure:nth-child(2) img {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.product-right-content-measures-measure:nth-child(3) img {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.product-right-content-action {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.product-right-content-action p {
  font-size: 3rem;
}

.product-right-content-action button {
  padding: 1.5rem 7rem;
  margin-left: 2rem;
  font-family: common-text-font;
}

.light-theme {
  background-color: #eeeeee;
}

.dark-theme {
  background-color: #131313;
}
/*# sourceMappingURL=style.css.map */