@import '../abstracts/variables';
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

html { 
  font-size: 62.5%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body{
  background-color: #eeeeee;
}

.app-container{
    transition: all .35s ease-in;
    background-color: #eeeeee;
}

:root{
  --text-black-color: #131313;
  --text-white-color: #dfdfdf;
  --text-default-color-inuse : var(--text-black-color);

  --nav-color-grey: #2c2c2c;
  --nav-color-white: #E6E6E6;
  --nav-links-color-inuse: var(--text-white-color);
}