.btn{
    color: $color-black-lighter;
    text-decoration:none;
    border: 2px solid #000000;
    text-transform: uppercase;
    
}

.btn-medium{
    @extend .btn;
    font-size: 1.5rem;
    padding: 1.8rem 9rem;
}

.btn-large{
    @extend .btn;
    font-size: 3rem;
    padding: 1.8rem 9rem;
}

.btn-action{
    font-style: italic;
}

.grid-buy-btn{
    @extend .btn;
    background-color: $color-black-lighter;
    color: $color-white-main;
    
}

